language: go
dist: trusty
sudo: false

go:
 - 1.5
 - 1.6
 - 1.7.3
 - 1.8
 - 1.9

env:
 global:
  - GO15VENDOREXPERIMENT=1
matrix:
 - TARGET=amd64
 - TARGET=arm64
 - TARGET=arm
 - TARGET=x86
 - TARGET=x64

matrix:
 fast_finish: true
 allow_failures:
  - go: tip
